.mainTitle{
    text-align: center;
    margin: 140px 0 90px;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.articlesCards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .articlesCards{
        &:not(:last-child){
            margin-bottom: 20px;
        }
    }
}