.mainTitle{
    text-align: center;
    margin: 140px 0 90px;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.articlesCards{
    display: flex;
    justify-content: center;
    gap: 20px;
}