.commentText{
    border: 1px solid #FCD54C;
    margin: 70px auto;
    padding: 70px 97px;
    max-width: 1110px;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
}
.Author{
    color:#FCD54C;
}

@media screen and (max-width:548px) {
    .commentText{
        padding: 70px 20px;
        font-size: 20px;
    }
}