.footerContent{
    margin-top: 200px;
    padding: 70px 50px 0 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        left: 0%;
        top: 0;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.3);;
    }
}

.footerItems{
    margin-top: 50px;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footerMoreInfo{
    margin-top: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    &::before{
        position: absolute;
        content: '';
        width: 100%;
        left: 0%;
        bottom: 75px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.3);;
    }
}

.footerCopyright{
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #E8E8E8;
}

.footerSocialLinks{
    display: flex;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 460px) {
    .footerMoreInfo{
        flex-direction: column;
        justify-content: center;
        &::before{
            bottom: 120px;
        }
    }
    .footerSocialLinks{
        padding: 0;
    }
}
