.appartamentSliderTitle{
    margin-top: 123px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
}

.appartamentSlider{
    height: 500px;
    span{
        background: #FCD54C;
    }
}

@media screen and (max-width: 768px){
    .appartamentSliderTitle{
        font-size: 45px;
    }
}

